{% extends "basic.html" %}
{% block head %}
<style type="text/css">
		
	</style>

{% endblock head %}
{% block content %}

<div class='row'>
	
<div class='col-md-8 col-md-offset-2'> 

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ABOUT</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">CONTACT</a></li>
    
  </ul>

  <!-- Tab panes -->
  
</div>
</div>
</div>

{% endblock content %}

